*{
    box-sizing: border-box;
}
.row{
    border: solid 1px red;
    height: 150px;
    font-size: 0px;
}
.col{
    border: solid 2px black;
    display: inline-block;
    height:100%;
    width:33.33%;
}
.col2{
    border: solid 2px black;
    display: inline-block;
    height: 100%;
    width: 50%;
}
.row2{
    border:solid 2px blue;
    height: 50%;
}
.col3{
    border: solid 2px black;
    display: inline-block;
    height: 100%;
    width:33.33%
}
.row3{
    border:solid 2px blue;
    height: 50%;
}
.numer{
    border:solid 2px blue;
    display: inline-block;
    height: 100%;
    width:50%;
    
}
.third{
    border:solid 2px blue;
    height: 33.33%;
    width: 100%;
}
.col4{
    border:solid 2px blue;
height: 100%;
width:50%;
display: inline-block;
}
.fourth{
    border:solid 2px blue;
    height: 50%;
    width: 100%;

}